@charset "UTF-8";
.staff {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}
html {
    background: #000; /* Changed to black */
}
body, html {
    margin: 0;
    padding: 0;
}
body {
    font-family: Rubik, sans-serif;
    color: #fff; /* Changed to white */
}
a {
    color: #00a4ca;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
img {
    max-width: 100%;
}
h1 strong, h2 strong {
    font-weight: 700;
}
h1 {
    font-weight: 300;
    font-size: 3.8em;
    margin: 0;
}
h2 {
    font-weight: 300;
    font-size: 3em;
    margin: 0 0 30px 0;
    line-height: 1.2em;
}
h3 {
    margin: 20px 0 10px 0;
}
h2 a {
    color: #fff; /* Changed to white */
}
h2 a:hover {
    text-decoration: none;
}
address, p, ul {
    font-size: 1.38em;
    margin-bottom: 20px;
    font-weight: 300;
    line-height: 1.6em;
    font-family: Lato, sans-serif;
}
.hero {
    color: #fff;
    text-align: center;
    height: 100vh;
    min-height: 550px;
    background-color: #333;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.hero:before {
    content: "";
    background: linear-gradient(to bottom, rgba(0, 0, 0, .65) 0, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 300px;
}
.hero p {
    color: #fff;
}
.hero .inner-hero {
    display: flex;
    align-items: center;
    height: 100%;
}
.hero .hero-text-container {
    width: 600px;
    text-align: left;
}
.hero .hero-text-container .button, .hero .hero-text-container h1, .hero .hero-text-container h2, .hero .hero-text-container p {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);
}
.hero .hero-text-right {
    position: absolute;
    right: 0;
}
.image {
    text-align: center;
}
.bottom-cta {
    text-align: center;
}
.bottom-cta h2 {
    margin-bottom: 12px;
}
@media (min-width: 768px) {
    .flex {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    .flex .image, .flex .text {
        -webkit-flex: 1;
        flex: 1;
        padding: 0 20px;
    }
    .content section:nth-child(even) .flex {
        flex-direction: row-reverse;
    }
}
.container, .text-container {
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
}
.text-container {
    max-width: 750px;
}
.container {
    max-width: 1140px;
}
.dark-logo {
    display: none;
}
section {
    background: #000; /* Changed to black */
}
.pad {
    padding: 60px 0;
}
header {
    color: #fff;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    z-index: 9999;
    line-height: 0;
}
header .container {
    line-height: 0;
}
header.header-background {
    background-color: rgba(255, 255, 255, .95);
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    transition: background-color .2s ease;
    text-shadow: none;
}
header.header-background a {
    color: #333;
}
@media (min-width: 620px) {
    header.header-background a:hover {
        border-bottom-color: rgba(80, 80, 80, .3);
        border-bottom-width: 5px;
    }
}
header.header-background .dark-logo {
    display: inline;
}
header.header-background .light-logo {
    display: none;
}
header a {
    color: #fff;
    text-decoration: none;
    z-index: 1;
    position: relative;
    display: block;
}
@media (min-width: 620px) {
    header a {
        height: 100%;
    }
}
header a span {
    display: block;
    height: 100%;
}
header a:hover {
    text-decoration: none;
}
header .company-name {
    font-size: 1.7em;
    display: inline-block;
}
header .company-name img {
    height: 30px;
    width: auto;
}
.content {
    background: #000; /* Changed to black */
}
.info img {
    max-height: 650px;
}
.info {
    padding: 0 0 100px 0;
}
.info:first-child {
    padding-top: 100px;
}
.subtext {
    margin-top: 10px;
}
.cta {
    margin: 25px 0 0 0;
}
.page h2 {
    text-align: center;
}
blockquote {
    padding: 18px 25px;
    margin: 0;
    quotes: "“" "”" "‘" "’";
    font-style: italic;
}
blockquote cite {
    display: block;
    font-weight: 700;
    margin: 10px 0 0 0;
}
blockquote p {
    display: inline;
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: .1em;
    margin-right: .25em;
    vertical-align: -.4em;
}
.square-image {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.page {
    margin-bottom: 0;
    padding-bottom: 80px;
}
.center-text {
    text-align: center;
}
.learn-more {
    position: absolute;
    left: 0;
    bottom: 30px;
    text-align: center;
    font-size: 1.4em;
    width: 100%;
}
.learn-more a {
    text-decoration: none;
    color: #fff;
    opacity: .9;
}
.learn-more a:hover {
    opacity: 1;
}
.learn-more .arrow {
    font-size: .6em;
}
.editor-link {
    display: none;
    margin-top: 0;
    padding-top: 30px;
}
.editor-link .btn {
    border: 0;
    border-radius: 2px;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    font-size: 2rem;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0;
    font-size: 18px;
    cursor: pointer;
    background-color: #f7e064;
    color: #333;
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, .2);
}
.editor-link .btn:hover {
    background-color: #f4d525;
    color: #333;
}
.cms-editor-active .editor-link {
    display: block;
}
.staff {
    padding: 0;
    margin: 0;
    list-style: none;
    -webkit-flex-flow: wrap;
    -moz-flex-flow: wrap;
    -ms-flex-flow: wrap;
    flex-flow: wrap;
    text-align: center;
}
.staff li {
    padding: 30px 20px;
    box-sizing: border-box;
    width: 100%;
}
@media (min-width: 450px) {
    .staff li {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 50%;
        -moz-box-flex: 1;
        -moz-flex: 1 1 50%;
        -ms-flex: 1 1 50%;
        flex: 1 1 50%;
    }
}
@media (min-width: 768px) {
    .staff li {
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 33%;
        -moz-box-flex: 1;
        -moz-flex: 1 1 33%;
        -ms-flex: 1 1 33%;
        flex: 1 1 33%;
    }
}
.staff .name {
    margin-top: 20px;
}
.staff .position {
    color: #999; /* Changed to lighter grey
